<!DOCTYPE html>
<html class="no-js">

<head>
  <link rel="stylesheet" href="/css/styles.css" />
  <title>About</title>
  <link rel="icon" href="/img/weatherPic.png">

</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" src="/img/tgriffin.png" />
  </div>

  {{>footer}}
</body>

</html>