<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/css/styles.css" />
  <title>Help</title>
  <link rel="icon" href="/img/weatherPic.png">

</head>

<body>

  <div class="main-content">
    {{>header}}
    <p>The Help page</p>
  </div>

  {{>footer}}
</body>

</html>